PORT=4100
SERVER_NAME=Night\ Wire
SERVER_DESCRIPTION=quiet\ grid\ for\ testing\ strange\ ideas
DB_PATH=./data/newchat.db
CORS_ORIGIN='*'
LIVEKIT_SIGNAL_PORT=7880
LIVEKIT_TCP_PORT=7881
LIVEKIT_UDP_PORT=7882
LIVEKIT_TOKEN_TTL=12h
LIVEKIT_PUBLIC_HOST=
LIVEKIT_PUBLIC_SCHEME=
LIVEKIT_USE_EXTERNAL_IP=true
LIVEKIT_URL=
LIVEKIT_API_KEY=lk_vuBPBZwzO87clTkKwx9FV0vx
LIVEKIT_API_SECRET=An2ZH9DNQHpTsqqREi7saCZEjeiYpBSB1VKumNuuX4B7kfuC
